<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hustunique.jianguo.dribile">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.DesignDemo">

        <!-- provider -->
        <provider
            android:name=".dao.DataProvider"
            android:authorities="us.dribile.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.DesignDemo.Main" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/Base.Theme.DesignDemo.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.BaseActivity" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:theme="@style/Base.Theme.DesignDemo.Auth" />

        <service android:name=".am.DribbbleAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ui.activity.ShotInfoActivity"
            android:theme="@style/Base.Theme.DesignDemo.ShotInfo">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="dribbble.com"
                    android:scheme="dribile" />
                <data android:pathPattern="/shots/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ImageDetailActivity"
            android:theme="@style/Base.Theme.DesignDemo.ImageDetail" />
        <activity android:name=".ui.activity.ProfileActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="dribbble.com"
                    android:scheme="dribile" />
                <data android:pathPattern="/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ShotCommentActivity"
            android:label="@string/title_activity_shot_comment"
            android:theme="@style/Base.Theme.DesignDemo.BaseActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ShotBucketActivity"
            android:theme="@style/Base.Theme.DesignDemo.ShotBucket" />
        <activity
            android:name=".ui.activity.BucketDetailActivity"
            android:theme="@style/Base.Theme.DesignDemo.BucketDetail" />
        <activity
            android:name=".ui.activity.ShotListActivity"
            android:theme="@style/Base.Theme.DesignDemo.ShotList" />
        <activity
            android:name=".ui.activity.LikeListActivity"
            android:theme="@style/Base.Theme.DesignDemo.LikeList" />
        <activity android:name=".ui.activity.SettingActivity"
            android:theme="@style/Base.Theme.DesignDemo.Setting">

        </activity>
    </application>

</manifest>